* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'dosis', sans-serif;
    letter-spacing: 0.5px;
}

body {
    position: relative;
    --navH: 60px;
    --navH-media: 100px;
    font-size: 14px;
    color: #222;
}

nav {
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    height: var(--navH);
    width: 100%;
}

nav ul, footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    margin: 5px;
    cursor: pointer;
    border: 1px solid transparent;
}
nav a, footer a {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
nav a:hover, 
nav a:active, 
footer a:hover, 
footer a:active {
    text-decoration: underline;
}
main {
    position: relative;
    margin: 0 auto;
    height: calc(100vh - 2* var(--navH));
    width: 100%;
}

footer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: var(--navH);
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    color: #686b70;
}
footer li {
    margin: 0.5em;
    
}


.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sm-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm-circle:hover {
    background-color: #eee;
}

#google-image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 25vh;
    min-height: 92px;
    max-height: 290px;
}

#google-menu {
    width: 24px;
    height: 24px;
}
#google-search{
    display: block;
    width: 24px;
    height: 24px;
}
#user {
    width: 96px;
    height: 36px;
    background-color: #1a73e8;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
}
form {
    margin: 2em auto;
    width: 80%;
    min-width: 395px;
    max-width: 582px;
}
#search-div {
    margin-bottom: 2em;
    padding: 0.5em 1em;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 22px;
    border: 1px solid #ddd;
}
#search-div:hover {
    box-shadow: 0 1px 3px 1px #ddd;
}
input {
    margin: auto 1em;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
input:active, input:focus {
    border: none;
}

#search-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
    border: 1px solid transparent;
    margin: 0 0.5em;
    padding: 1em;
    height: 36px;
    background-color: transparent;
    border-radius: 4px;
}
button:hover {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

@media screen and (max-width: 731px) {
    #user {
        width: 80px
    }
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    main {
        height: calc(100vh - var(--navH) - var(--navH-media));
    }
}